<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qwiktrips.user.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".application.QuickTripApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeActionBar.NoActionBar">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:exported="false"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.paymentnew.ConfirmActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ui.paymentnew.PatConfirmActivity"
            android:exported="false"/>
        <activity android:name=".ui.paymentnew.PayActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.booked.BookedAndFavouritesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.providers.PreferredProvidersActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.feedback.ActivityFeedback"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.signup.SignupActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.signup.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.otp.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.cart.CartActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.appointment.MyAppointmentActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.hairstylist.find.SearchedStylistActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.hairstylist.select.SelectHairStylistActivity"
            android:screenReaderFocusable="true"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.profile.userprofile.UserProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.map.MapActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppThemeActionBar.NoActionBar.Map" />
        <activity
            android:name=".ui.hairstylist.find.FindHairStylist"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.payment.PaymentMethodActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.hairstylist.HairStylistActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar.NoActionBar.Login"
            android:exported="false"/>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar.NoActionBar.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
    </application>

</manifest>